In [1]:
import pandas as pd

In [5]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data)
df

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   8  10  11  12
3  13  14  15  16

In [4]:
df = pd.DataFrame(data)
df

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   8  10  11  12
3  13  14  15  16