In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('asghdvasfsnfdiuwsgasndipjansdasdfasfcasafdcsa'))

In [4]:
s

0     a
1     s
2     g
3     h
4     d
5     v
6     a
7     s
8     f
9     s
10    n
11    f
12    d
13    i
14    u
15    w
16    s
17    g
18    a
19    s
20    n
21    d
22    i
23    p
24    j
25    a
26    n
27    s
28    d
29    a
30    s
31    d
32    f
33    a
34    s
35    f
36    c
37    a
38    s
39    a
40    f
41    d
42    c
43    s
44    a
dtype: object

In [5]:
# Conseguimos saber, de maneira única, quais os valos presentes
s.unique()

array(['a', 's', 'g', 'h', 'd', 'v', 'f', 'n', 'i', 'u', 'w', 'p', 'j',
       'c'], dtype=object)

In [8]:
# E aqui, vemos quantas vezes cada valor apareceu
s.value_counts()

s    10
a     9
d     6
f     5
n     3
g     2
i     2
c     2
h     1
v     1
u     1
w     1
p     1
j     1
dtype: int64

In [28]:
dados = pd.read_csv('../aluguel_residencial.csv', sep = ';')

In [29]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor do m²,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

In [30]:
dados['Tipo'].unique()

array(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio',
       'Casa de Vila'], dtype=object)

In [31]:
dados.Tipo.value_counts()

Apartamento           18780
Casa de Condomínio      996
Casa                    965
Quitinete               836
Casa de Vila            249
Name: Tipo, dtype: int64