Temos várias formas de trabalhar com com dados nulos. Verjamos abaixo:

In [1]:
import pandas as pd

In [3]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s= pd.Series(data)

In [9]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [7]:
# .fillna(0) -> preenchemos todos os valores nulos com 0 (zero).
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [10]:
# .fillna(method = 'ffill') -> preenchemos todos os valores nulos com o valor do item anterior, começando por cima.
s.fillna(method ='ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [12]:
# .fillna(method = 'bfill') -> preenchemos todos os valores nulos com o valor do item anterior, começando de baixo.
s.fillna(method ='bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [13]:
# .fillna(s.mean()) -> preenchemos todos os valores nulos com a média de todos os valores não nulos.
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [14]:

s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [18]:
s1 = s.fillna(method = 'ffill', limit = 1)

In [19]:
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [20]:
s1.fillna(method='bfill', limit = 1)

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64